#container {
width: 320px;
height:480px;
background-color: ;
margin-left: auto;
margin-right: auto;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
　
}
#header {
	font-size:40px;
	color: #FFFFFF;
	background-color: #0000FF;
	text-align: center;
	height:50px;
	width: 320px;
}

#event{
	text-align: left;
	height:180px;
	width: 320px;
	background-color: #FFFFFF;

}

#date {
	font-size:30px;
	height:50px;
	width: 320px;

}


#quote {
	text-align: center;
	height:120px;
	width: 320px;
	background-color: #FFF8DC;
}

#menu {
	text-align: center;
	height: 80px;
	width: 320px;
	background-color: #0000FF;
}

#menu li {
	margin-right: 0.5em;
	display: inline-block;
}

#menu ul {
	padding: 0px;
	text-decoration: none;
	display: inline-block;
}


#scripturesholder {
	text-align: left;
	height:328px;
	width: 320px;
	background-color: #FFFFFF;



}







